<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container" >
			<section class="form">
				<form method="post" action="">
					<div class="form-group">
						<label class="title"><h2><i class="fa fa-search fa-fw"></i>Buscar Solicitud</h2></label>
					<div>
					{{#salida}}
						<div class="form-group alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
					<div class="form-group">
						<input type="text" id="id" name="id" placeholder="Id" class="form-control input-lg" />
					</div>
					<div class="form-group">
						<input type="text" id="nombre" name="nombre" placeholder="Razon Social"  class="form-control input-lg" />
					</div>
					<div class="form-group">
						<input type="text" id="titulo" name="titulo" placeholder="T&iacute;tulo"  class="form-control input-lg" />
					</div>
					<div class="form-group">
						<select id="responsable" name="responsable"  class="form-control input-lg">
							<option value ="">Responsable</option>
							{{#responsables}}
								<option value ="{{nombre}}">{{nombre}}</option>
							{{/responsables}}
						</select>
					</div>
					<div class="form-group form-inline">
						<div class="input-group">
						<input type="text" name="fechaDesde" placeholder="Fecha Desde" class="form-control input-lg" />
							<span class="input-group-addon">
								<span class="fa fa-calendar fa-fw"></span>
							</span>
						</div>
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
						<div class="input-group pull-right">
						<input type="text" name="fechaHasta" placeholder="Fecha Hasta" class="form-control input-lg" />
							<span class="input-group-addon">
								<span class="fa fa-calendar fa-fw"></span>
							</span>
						</div>
					</div>
					<div class="form-group form-inline pull-right">
						<button class="btn btn-lg btn-primary" formaction="/solicitudes">Cancelar</button>
						<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Buscar</button>
					</div>
				</form>
			</section>
		</section>
		{{>bloques/footer}}
		<script src="js/elements/solicitud.js"></script>
	</body>
</html>
