<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container">
			<section class="login-form">
				<form action="/login" method="post" role="login">
					<img src="images/logotalgham.jpg" class="img-responsive" alt=""/>
					{{#salida}}
					<div>
						{{salida}}
					</div>
					{{/salida}}
					{{#usuario}}
						<input id="id" type="hidden" name="id" value="{{id}}"/>
						<input id="oldPassword" type="password" name="password" placeholder="Ingrese su antigua Password" class="form-control input-lg" required/>
						<input id="newPassword1" type="password" name="newPassword1" placeholder="Ingrese Nueva Password" class="form-control input-lg" required/>
						<input id="newPassword2" type="password" name="newPassword2" placeholder="Vuelva a ingresar nueva Password" class="form-control input-lg" required/> 
						<input type="submit" value="Cambiar" name="go" class="btn btn-lg btn-primary btn-block"/>
					{{/usuario}}
					
				</form>
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>