<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/logotalghamsmall.jpg" class="navbar-brand  center-block" alt=""/>
					</div>
					<div class="pull-right navbar-btn">
						{{#usuario}}
						{{#isAdmin}}
						<div class="btn-group">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="fa fa-cog" title="Toggle dropdown menu"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/usuarios"><i class="fa fa-user fa-fw"></i>Usuarios</a></li>
								<li><a href="/emails"><i class="fa fa-envelope-o fa-fw"></i>Email</a></li>
								<li class="divider"></li>
								<li><a href="/roles"><i class="fa fa-male fa-fw"></i>Roles</a></li>
								<li><a href="/estados"><i class="fa fa-check fa-fw"></i>Estados</a></li>
							</ul>
						</div>
						{{/isAdmin}}
						<div class="btn-group">
							<a class="btn btn-primary btn-lg"><i class="fa fa-user fa-fw"></i>{{nombre}}</a>
							<a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/editarUsuario?id={{id}}"><i class="fa fa-pencil fa-fw"></i>Editar</a></li>
								<li><a href="/cambiarPassword?id={{id}}"><i class="fa fa-trash-o fa-fw"></i>Cambiar Contraseña</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><i class="fa fa-unlock fa-fw"></i>Salir</a></li>
							</ul>
						</div>
						{{/usuario}}
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Clientes</h2>
				<hr class="half-rule"/>
				<a class="btn btn-default btn-lg" href="/crearClientes"><i class="fa fa-plus fa-lg"></i> Nuevo</a>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>CUIT/CUIL</th>
							<th>Cierre de Ejercicio</th>
							<th>Representante</th>
							<th>Contador</th>
						</tr>
					</thead>
					<tbody>
						{{#clientes}}
							<tr>
								<td>
									<a href="/editarCliente?id={{id}}"><i class="fa fa-pencil fa-fw"></i></a>
									<a href="/eliminarCliente?id={{id}}"><i class="fa fa-trash-o fa-fw"></i></a>
								</td>
								<td>{{nombre}}</td>
								<td>{{cuit}}</td>
								<td>{{cierreEjercicio}}</td>
								<td>{{representante}}</td>
								<td>{{contador}}</td>
							</tr>
						{{/clientes}}
					</tbody>
				</table>
				{{^clientes}}
					<div class="form-group alert alert-info" role="alert">
						No existen clientes cargados.
					</div>
				{{/clientes}}
				<a class="btn btn-lg btn-primary pull-right" href="/solicitudes">Volver</a>
			</form>
		</section>
		{{>bloques/footer}}
	</body>
</html>
