<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand">
						<img alt="Brand" src="images/logotalghamsmall.jpg" class="img-responsive">
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Nuevo Programa</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="#" id="form">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<label for="periodicidad">periodicidad</label>
					<select name="periodicidad" placeholder="Periodicidad" class="form-control input-lg" required>
						<option value ="Mensual">Mensual</option>
						<option value ="Bimestral">Bimestral</option>
						<option value ="Trimestral">Trimestral</option>
						<option value ="Semestral">Semestral</option>
						<option value ="Anual">Anual</option>
					</select>
				</div>
				<div class="form-group">
					<div class="input-group">
						<label for="fechaProximo">Pr&oacute;xima Solicitud</label>
						<input type="text" name="fechaProximo" placeholder="Pr&oacute;xima Solicitud" class="form-control input-lg" required id="fechaProximo"/>
						<span class="input-group-addon">
							<span class="fa fa-calendar fa-fw"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="trabajo">Trabajo</label>
					<select id="trabajo" name="trabajo" class="form-control input-lg" required>
						<option value ="0">Seleccione un Trabajo</option>
						{{#trabajos}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/trabajos}}
					</select>
				</div>
				<div class="form-group">
					<label for="cliente">Cliente</label>
					<select id="cliente" name="cliente" class="form-control input-lg" required>
						<option value ="0">Seleccione un Cliente</option>
						{{#clientes}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/clientes}}
					</select>
				</div>
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/programas">Volver</a>
					<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
				</div>
			</form>
		</section>
		{{>bloques/footer}}
		<script type="text/javascript">
			$(document).ready(function () {
				$("#form")[0].reset();
				$('#fechaProximo').datepicker({
					format: "dd-mm-yyyy",
					weekStart: 7,
					todayBtn: true,
					language: "es",
					autoclose: true,
					todayHighlight: true
				});  
			});
		</script>
	</body>
</html>
