<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container" >
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/logotalghamsmall.jpg" class="navbar-brand  center-block" alt=""/>
					</div>
					<div class="pull-right navbar-btn">
						<div class="btn-group">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="fa fa-cog" title="Toggle dropdown menu"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/usuarios"><i class="fa fa-user fa-fw"></i>Usuarios</a></li>
								<li><a href="/emails"><i class="fa fa-envelope-o fa-fw"></i>Email</a></li>
								<li class="divider"></li>
								<li><a href="/roles"><i class="fa fa-male fa-fw"></i>Roles</a></li>
								<li><a href="/estados"><i class="fa fa-check fa-fw"></i>Estados</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary" href="/verUsuario?id="><i class="fa fa-user fa-fw"></i> Usuario</a>
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/editarUsuario?id="><i class="fa fa-pencil fa-fw"></i>Editar</a></li>
								<li><a href="/cambiarPassword?id="><i class="fa fa-trash-o fa-fw"></i>Cambiar Contraseña</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><i class="fa fa-unlock fa-fw"></i>Salir</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Nueva Solicitud</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="">
				<div class="form-group">
					<input type="text" id="nombre" name="nombre" placeholder="Razon Social" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<input type="text" id="titulo" name="titulo" placeholder="T&iacute;tulo" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<input type="text" id="email" name="email" placeholder="Email" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<textarea id="descripcion" name="descripcion" placeholder="Descripci&oacute;n" class="form-control input-lg" rows="5" required/></textarea>
				</div>
				<div class="form-group">
					<select id="responsable" name="responsable" class="form-control input-lg" required>
						<option value ="0">Seleccione un Responsable</option>
						{{#responsables}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/responsables}}
					</select>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="fechaSol" placeholder="Fecha Solicitada" class="form-control input-lg" required id="fechaSol"/>
						<span class="input-group-addon">
							<span class="fa fa-calendar fa-fw"></span>
						</span>
					</div>
				</div>
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/solicitudes">Volver</a>
					<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
				</div>
				
			</form>
		</section>
		{{>bloques/footer}}
		<script type="text/javascript">
			$(document).ready(function () {
				$('#fechaSol').datepicker({
					format: "dd-mm-yyyy",
					weekStart: 7,
					todayBtn: false,
					language: "es",
					autoclose: true,
					todayHighlight: true
				});  
			});
		</script>
	</body>
</html>
