<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container" >
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand">
						<img alt="Brand" src="images/logotalghamsmall.jpg" class="img-responsive">
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Nuevo Emails</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="" id="form">
				<div class="form-group">
					<input type="text" id="direccion" name="direccion" placeholder="Email" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<select id="actividad" name="actividad" class="form-control input-lg" required>
						<option value ="0">Elija una actividad que realice el envio del Email</option>
						{{#actividades}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/actividades}}
					</select>
				</div>
				<div class="form-group">
					<input type="text" id="subject" name="subject" placeholder="Asunto" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<textarea id="texto" name="texto" placeholder="Cuerpo del Email" class="form-control input-lg" rows="3" maxlength="255" required/></textarea>
				</div>
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/emails">Volver</a>
					<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
				</div>
				
			</form>
		</section>
		{{>bloques/footer}}
		<script type="text/javascript">
			$(document).ready(function(){
				$("#form")[0].reset();
			});
		</script>
		<script src="js/elements/email.js"></script>
		<script src="js/utiles.js"></script>
	</body>
</html>
