<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand">
						<img alt="Brand" src="images/logotalghamsmall.jpg" class="img-responsive">
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Nuevo Trabajo</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="#">
				<div class="form-group">
					<input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<textarea id="descripcion" name="descripcion" placeholder="Descripci&oacute;n" class="form-control input-lg" rows="5" required/></textarea>
				</div>
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/trabajos">Volver</a>
					<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
				</div>
				
			</form>
		</section>
		{{>bloques/footer}}
	</body>
</html>
