<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container" >
			<section class="form">
				<form method="post" action="">
					<div class="form-group">
						<label class="title"><h2><i class="fa fa-bars fa-fw"></i>Nuevo Email</h2></label>
					<div>
					{{#salida}}
						<div class="form-group alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
					<div class="form-group">
						<input type="text" id="direccion" name="direccion" placeholder="Email" class="form-control input-lg" />
					</div>
					<div class="form-group">
						<select id="actividad" name="actividad" class="form-control input-lg">
							<option value ="">Elija actividad que envie el EMail</option>
							{{#actividades}}
								<option value ="{{id}}">{{nombre}}</option>
							{{/actividades}}
						</select>
					</div>
					<div class="form-group">
						<input type="text" id="subject" name="subject" placeholder="Asunto" class="form-control input-lg" />
					</div>
					<div class="form-group">
						<textarea id="texto" name="texto" placeholder="Cuerpo del Email" class="form-control input-lg" rows="5"/></textarea>
					</div>
					<div class="form-group form-inline pull-right">
						<button class="btn btn-lg btn-primary" formaction="/solicitudes">Cancelar</button>
						<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
					</div>
				</form>
			</section>
		</section>
		{{>bloques/footer}}
		<script src="js/elements/solicitud.js"></script>
		<script src="js/elements/utils.js"></script>
	</body>
</html>
