<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand">
						<img alt="Brand" src="images/logotalghamsmall.jpg" class="img-responsive">
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-building fa-fw"></i>Nuevo Cliente</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="#" id="form">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg" required/>
				</div>
				<div class="form-group">
					<label for="nombre">CUIT</label>
					<input type="text" id="cuit" name="cuit" placeholder="CUIT" class="form-control input-lg"/>
				</div>
				<div class="form-group">
					<label for="nombre">Cierre de Ejercicio</label>
					<div class="input-group">
						<input type="text" name="cierreEjercicio" placeholder="Cierre de Ejercicio" class="form-control input-lg" required id="cierreEjercicio"/>
						<span class="input-group-addon">
							<span class="fa fa-calendar fa-fw"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="nombre">Descripci&oacute;n</label>
					<textarea id="descripcion" name="descripcion" placeholder="Descripci&oacute;n" class="form-control input-lg" rows="3" maxlength="255" required/></textarea>
				</div>
				<div class="form-group">
					<label for="nombre">Representante</label>
					<select id="representanteId" name="representanteId" class="form-control input-lg" required>
						{{#representantes}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/representantes}}
					</select>
				</div>
				<div class="form-group">
					<label for="nombre">Cliente</label>
					<select id="contadorId" name="contadorId" class="form-control input-lg" required>
						{{#contadores}}
							<option value ="{{id}}">{{nombre}}</option>
						{{/contadores}}
					</select>
				</div>
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/clientes">Volver</a>
					<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
				</div>
			</form>
		</section>
		{{>bloques/footer}}
		<script type="text/javascript">
			$(document).ready(function () {
				$("#form")[0].reset();
				$('#cierreEjercicio').datepicker({
					format: "dd-mm-yyyy",
					weekStart: 7,
					todayBtn: true,
					language: "es",
					autoclose: true,
					todayHighlight: true
				});  
			});
		</script>
	</body>
</html>
