<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<section class="form">
				<form method="post" action="#">
					<label class="title" ><h2>Rol</h2></label>
					{{#salida}}
						<div class="form-group alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
					<div class="form-group">
						<input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg" />
					</div>
					<div class="form-group form-inline pull-right">
						<button class="btn btn-lg btn-primary" formaction="/solicitudes">Volver</button>
						<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
					</div>
				</form>
			</section>
		</section>
		{{>bloques/footer}}
<!-- 		<script src="js/elements/rol.js"></script> -->
	</body>
</html>