<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/logotalghamsmall.jpg" class="navbar-brand  center-block" alt=""/>
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Nuevo usuarios</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="#">
					<div class="form-group">
						<input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg" required/>
					</div>
					<div class="form-group">
						<input type="text" id="alias" name="alias" placeholder="Alias" class="form-control input-lg" required/>
					</div>
					<div class="form-group">        
						<input type="text" id="email" name="email" placeholder="Email" class="form-control input-lg" required/>
					</div>
					<div class="form-group">        
						<input type="password" id="password" name="password" placeholder="Password" class="form-control input-lg" required/>
					</div>
					<div class="form-group">
						<select id="rol" name="rol" class="form-control input-lg" required>
								<option value ="0">Seleccione un Rol</option>
							{{#roles}}
								<option value ="{{id}}">{{nombre}}</option>
							{{/roles}}
						</select>
					</div>
					<div class="form-group form-inline pull-right">
						<a class="btn btn-lg btn-primary" href="/usuarios">Volver</a>
						<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
					</div>
					
				</form>
		</section>
		{{>bloques/footer}}
		<script src="js/elements/usuario.js"></script>
		<script src="js/utiles.js"></script>
	</body>
</html>
