<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container" >
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/logotalghamsmall.jpg" class="navbar-brand  center-block" alt=""/>
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Editar Solicitud</h2>
				<hr class="half-rule"/>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="">
				{{#solicitud}}
					<div class="form-group">
						<input type="text" id="nombre" name="nombre" placeholder="Razon Social" class="form-control input-lg" value="{{nombre}}" required/>
					</div>
					<div class="form-group">
						<input type="text" id="titulo" name="titulo" placeholder="T&iacute;tulo" class="form-control input-lg" value="{{titulo}}" required/>
					</div>
					<div class="form-group">        
						<input type="text" id="email" name="email" placeholder="Email" class="form-control input-lg" value="{{email}}" required/>
					</div>
					<div class="form-group">        
						<textarea id="descripcion" name="descripcion" placeholder="Descripci&oacute;n" class="form-control input-lg" rows="5" required/>{{descripcion}}</textarea>
					</div>
					<div class="form-group">
						<select name="estado" placeholder="Estado" class="form-control input-lg" required>
							<option value ="{{estado.id}}">{{estado.nombre}}</option>
							{{#estados}}
								<option value ="{{id}}">{{nombre}}</option>
							{{/estados}}
						</select>
					</div>
					<div class="form-group">
						<select id="responsable" name="responsable" class="form-control input-lg" required>
							{{#responsables}}
								<option value ="{{id}}">{{nombre}}</option>
							{{/responsables}}
						</select>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" name="fechaSol" placeholder="Fecha Solicitada" class="form-control input-lg" required id="fechaSol" value="{{fechaSol}}"/>
							<span class="input-group-addon">
								<span class="fa fa-calendar fa-fw"></span>
							</span>
						</div>
					</div>
					<div class="form-group form-inline pull-right">
						<a class="btn btn-lg btn-primary" href="/solicitudes">Volver</a>
						<button type="submit" id="aceptar" class="btn btn-lg btn-primary">Aceptar</button>
					</div>
				{{/solicitud}}
				
			</form>
		</section>
		{{>bloques/footer}}
		<script type="text/javascript">
			$(document).ready(function () {
				$('#fechaSol').datepicker({
					format: "dd-mm-yyyy",
					weekStart: 7,
					todayBtn: true,
					language: "es",
					autoclose: true,
					todayHighlight: true
				});  
		    	});
		</script>
	</body>
</html>
