<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							{{>bloques/botonConfiguracion}}
							{{>bloques/botonUsuario}}
						</ul>
					</div>
				</div>
			</nav>
			<section class="form">
				<form method="post" action="">
					<div class="form-group">
						<label class="title"><h2><i class="fa fa-bars fa-fw"></i>Estados</h2></label>
						<hr class="half-rule"/>
					</div>
					{{#salida}}
						<div class="form-group alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Descripci&oacute;n</th>
								<th>Orden</th>
							</tr>
						</thead>
						<tbody>
							{{#estados}}
								<tr>
									<td>{{id}}</a></td>
									<td>{{nombre}}</td>
									<td>{{descripcion}}</td>
									<td>{{orden}}</td>
								</tr>
							{{/estados}}
						</tbody>
					</table>
					{{^estados}}
						<div class="form-group alert alert-info" role="alert">
							No existen estados cargados.
						</div>
					{{/estados}}
					<div class="form-group form-inline pull-right">
						<button class="btn btn-lg btn-primary" formaction="/solicitudes">Volver</button>
					</div>
				</form>
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>