<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand">
						<img alt="Brand" src="images/logotalghamsmall.jpg" class="img-responsive">
					</div>
					<div class="pull-right navbar-btn">
						{{#usuario}}
							{{#isAdmin}}
								{{>bloques/botonConfiguracion}}
							{{/isAdmin}}
							<div class="btn-group">
								<a class="btn btn-primary"><i class="fa fa-user fa-fw"></i>{{nombre}}</a>
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/editarUsuario?id={{id}}"><i class="fa fa-pencil fa-fw"></i>Editar</a></li>
<!-- 									<li><a href="/cambiarPassword?id={{id}}"><i class="fa fa-trash-o fa-fw"></i>Cambiar Contraseña</a></li> -->
									<li class="divider"></li>
									<li><a href="/logout"><i class="fa fa-unlock fa-fw"></i>Salir</a></li>
								</ul>
							</div>
						{{/usuario}}
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Estados</h2>
				<hr class="half-rule"/>
<!-- 				<a type="button" class="btn btn-default" href="/crearSolicitud"><i class="fa fa-plus fa-lg"></i> Nueva</a> -->
<!-- 				<a type="button" class="btn btn-default" href="/buscarSolicitud"><i class="fa fa-search fa-lg"></i> Buscar</a> -->
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<section>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripci&oacute;n</th>
							<th>Orden</th>
						</tr>
					</thead>
					<tbody>
						{{#estados}}
							<tr>
								<td>{{id}}</a></td>
								<td>{{nombre}}</td>
								<td>{{descripcion}}</td>
								<td>{{orden}}</td>
							</tr>
						{{/estados}}
					</tbody>
				</table>
				{{^estados}}
					<div class="form-group alert alert-info" role="alert">
						No existen estados cargados.
					</div>
				{{/estados}}
				<div class="form-group form-inline pull-right">
					<a class="btn btn-lg btn-primary" href="/solicitudes">Volver</a>
				</div>
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>
