<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container text-center">
			<nav class="navbar" role="navigation">
				<div class="container-fluid">
					<div class="btn-group navbar-right">
						<a class="btn btn-primary btn-lg" href="/login"><i class="fa fa-sign-in fa-fw"></i> Ingresar </a>
					</div>
				</div>
			</nav>
			<div class="container-fluid">
				<div class="well">
					<img src="images/logotalgham.jpg" class="img-responsive center-block" alt=""/>
					<div class="panel-body"><h4 class="text-center">{{bienvenida}}</h4></div>
					<div class="panel-body">Mensaje</div>
					<a class="btn btn-lg btn-primary btn-lg" href="/agenda">Agenda</a>
					<a class="btn btn-lg btn-primary btn-lg" href="/solicitudes">Solicitudes</a>
				</div>
			</div>
			<footer class="container-fluid text-center">
				<p> </p>
			</footer>
		</section>
		{{>bloques/footer}}
	</body>
</html>
