<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container">
			<section class="login-form">
				<form action="/login" method="post" role="login">
					{{>bloques/imagenPpal}}
					<div>
						{{salida}}
					</div>
					<input id="username" type="text" name="username" placeholder="Usuario" class="form-control input-lg"/> 
					<input id="password" type="password" name="password" placeholder="Password" class="form-control input-lg"/> 
					<input type="submit" value="Ingresar" name="go" class="btn btn-lg btn-primary btn-block"/>
<!-- 					<a href="/mensaje">¿Ovidaste tu contrase&;a?</a> -->
				</form>
				{{>bloques/link}}
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>