<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container">
			<section class="login-form">
				<form action="/login" method="post" role="login">
					<img src="images/logotalgham.jpg" class="img-responsive" alt=""/>
					{{#logout}}
						<div>
							<span style="color:blue">{{.}}</span>
						</div>
					{{/logout}}
					<input id="username" type="text" name="username" placeholder="Usuario" class="form-control input-lg"/> 
					<input id="password" type="password" name="password" placeholder="Password" class="form-control input-lg"/> 
					{{#error}}
						<div>
							<span style="color:red">{{.}}</span>
						</div>
					{{/error}}
					<input type="submit" value="Ingresar" class="btn btn-lg btn-primary btn-block"/>
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
				</form>
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>