<!DOCTYPE html>
<html>
	{{>bloques/header}}
	<body>
		<section class="container">
			<section class="login-form">
				<form role="login">
					<img src="images/logotalgham.jpg" class="img-responsive center-block" alt=""/>
					{{#salida}}
						<div class="alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
					<div>
						<a class="btn btn-lg btn-primary btn-block" href="/solicitudes">Volver</a>
					</div>
				</form>
			</section>
		</section>
		{{>bloques/footer}}
		<script src="js/elements/solicitud.js"></script>
	</body>
</html>
