<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<section class="form">
				<form method="post" action="">
					<div class="form-group pull-right">
						{{>bloques/botonConfiguracion}}
						{{>bloques/botonUsuario}}
					</div>
					<div class="form-group">
						<label class="title"><h2><i class="fa fa-bars fa-fw"></i>Roles</h2></label>
						<hr class="half-rule"/>
					</div>
					{{#salida}}
						<div class="form-group alert {{tipoSalida}}" role="alert">
							{{salida}}
						</div>
					{{/salida}}
<!-- 					<div class="form-group">	 -->
<!-- 						<a class="btn btn-default" href="/crearSolicitud"><i class="fa fa-plus fa-lg"></i> Nuevo</a> -->
<!-- 					</div> -->
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Fecha</th>
							</tr>
						</thead>
						<tbody>
							{{#roles}}
								<tr>
									<td>{{id}}</a></td>
									<td>{{nombre}}</td>
									<td>{{fechaCreacion}}</td>
								</tr>
							{{/roles}}
						</tbody>
					</table>
					{{^roles}}
						<div class="form-group alert alert-info" role="alert">
							No existen roles creados.
						</div>
					{{/roles}}
					{{>bloques/link}}
				</form>
			</section>
		</section>
		{{>bloques/footer}}
	</body>
</html>