<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container">
			<section class="login-form">
				<form method="post" action="" role="login">
					{{>bloques/imagenPpal}}
					<div class="form-group">
						<div class="form-control input-lg">
							{{id}}
						</div>	
					</div>
					<div class="form-group">
						<label>Nombre</label>
						<div class="form-control input-lg">
							{{nombre}}
						</div>	
					</div>
					<div class="form-group">
						<div class="form-control input-lg">
							{{titulo}}
						</div>	
					</div>
					<div class="form-group">
						<div class="form-control input-lg">
							{{email}}
						</div>	
					</div>				
					<div class="form-group">
						<div class="form-control input-lg">
							{{estado}}
						</div>	
					</div>
					<div class="form-group">
						<div class="form-control input-lg">
							{{descripcion}}
						</div>	
					</div>			
				</form>
				{{>bloques/link}}
			</section>
		</section>

		{{>bloques/footer}}
	</body>
</html>