<!DOCTYPE HTML>
<html>
	{{>bloques/header}}
	<body>
		<section class="container custom-container">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/logotalghamsmall.jpg" class="navbar-brand  center-block" alt=""/>
					</div>
					<div class="pull-right navbar-btn">
						{{#usuario}}
							{{#isAdmin}}
								{{>bloques/botonConfiguracion}}
							{{/isAdmin}}
							<div class="btn-group">
								<a class="btn btn-primary"><i class="fa fa-user fa-fw"></i>{{nombre}}</a>
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/editarUsuario?id={{id}}"><i class="fa fa-pencil fa-fw"></i>Editar</a></li>
									<li><a href="/cambiarPassword?id={{id}}"><i class="fa fa-trash-o fa-fw"></i>Cambiar Contraseña</a></li>
									<li class="divider"></li>
									<li><a href="/logout"><i class="fa fa-unlock fa-fw"></i>Salir</a></li>
								</ul>
							</div>
						{{/usuario}}
					</div>
				</div>
			</nav>
			<div class="page-header">
				<h2><i class="fa fa-bars fa-fw"></i>Trabajos</h2>
				<hr class="half-rule"/>
				<a class="btn btn-default" href="/crearTrabajos"><i class="fa fa-plus fa-lg"></i> Nuevo</a>
				{{#salida}}
					<div class="alert {{tipoSalida}}" role="alert">
						{{salida}}
					</div>
				{{/salida}}
			</div>
			<form method="post" action="">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>Descripci&oacute;n</th>
						</tr>
					</thead>
					<tbody>
						{{#trabajos}}
							<tr>
								<td>
									<a href="/editarTrabajo?id={{id}}"><i class="fa fa-pencil fa-fw"></i></a>
									<a href="/eliminarTrabajo?id={{id}}"><i class="fa fa-trash-o fa-fw"></i></a>
								</td>
								<td>{{nombre}}</td>
								<td>{{descripcion}}</td>
							</tr>
						{{/trabajos}}
					</tbody>
				</table>
				{{^trabajos}}
					<div class="form-group alert alert-info" role="alert">
						No existen trabajos cargados.
					</div>
				{{/trabajos}}
				<a class="btn btn-lg btn-primary pull-right" href="/solicitudes">Volver</a>
				
			</form>
		</section>
		{{>bloques/footer}}
	</body>
</html>
