<div class="btn-group">
	<a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="fa fa-cog" title="Toggle dropdown menu"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/usuarios"><i class="fa fa-user fa-fw"></i>Usuarios</a></li>
		<li><a href="/clientes"><i class="fa fa-building fa-fw"></i>Clientes</a></li>
		<li><a href="/trabajos"><i class="fa fa-book fa-fw"></i>Trabajos</a></li>
		<li><a href="/programas"><i class="fa fa-gears fa-fw"></i>Programas</a></li>
		<li class="divider"></li>
		<li><a href="/perfiles"><i class="fa fa-group fa-fw"></i>Perfiles</a></li>
		<li class="divider"></li>
		<li><a href="/estados"><i class="fa fa-check fa-fw"></i>Estados</a></li>
		<li><a href="/emails"><i class="fa fa-envelope-o fa-fw"></i>Email</a></li>
	</ul>
</div>